@theme {
	--color-base: #1e1e2e;
	--color-mantle: #181825;
	--color-crust: #11111b;

	--color-surface-0: #313244;
	--color-surface-1: #45475a;
	--color-surface-2: #585b70;

	--color-overlay-0: #6c7086;
	--color-overlay-1: #7f849c;
	--color-overlay-2: #9399b2;

	--color-subtext-0: #a6adc8;
	--color-subtext-1: #bac2de;

	--color-text: #cdd6f4;

	--color-red: #f38ba8;
	--color-yellow: #f9e2af;
	--color-green: #a6e3a1;
	--color-blue: #89b4fa;

	--color-star: #FFAF47;
}